<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="com.test.mapper.BrandMapper">


    <resultMap id="brandMap" type="com.test.pojo.Brand">
        <result property="id" column="id" />
        <result property="brandName" column="brand_name" />
        <result property="companyName" column="company_name" />
        <result property="ordered" column="ordered" />
        <result property="description" column="description" />
        <result property="status" column="status" />

    </resultMap>
    <insert id="addBrand" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_brand(id,brand_name,company_name,ordered,description,status)
        values (null,#{brandName},#{companyName},#{ordered},#{description},#{status})
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">select last_insert_id()</selectKey>
    </insert>

    <select id="selectAll" resultMap="brandMap">
        select id,brand_name,company_name,ordered,description,status from tb_brand;
    </select>
    <select id="selectByCondition" resultMap="brandMap">
        select id,
               brand_name,
               company_name,
               ordered,
               description,
               status
        from tb_brand
        <where>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="companyName!='' and companyName!=null">
                and company_name like concat('%',#{companyName},'%')
            </if>
            <if test="brandName!=null and brandName!=''">
                and brand_name like concat('%',#{brandName},'%')
            </if>
        </where>
    </select>
    <select id="selectOne" resultMap="brandMap">
        select id,
               brand_name,
               company_name,
               ordered,
               description,
               status
        from tb_brand
        <where>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="companyName!='' and companyName!=null">
                and company_name = #{companyName}
            </if>
            <if test="brandName!=null and brandName!=''">
                and brand_name = #{brandName}
            </if>
            <if test="description!=null and description!=''">
                and description =#{description}
            </if>

        </where>
    </select>
</mapper>